@import "/home/sloth/.cache/wal/colors-waybar.css";

window{
      font-family: JetBrains Mono;
      font-size: 20px;
      background-color: @color9;
      /*opacity: 0.9;*/
      color: @color7;
      border: 5px solid @color9;
      border-radius: 18px;
      background: url("/home/sloth/.config/wofi/komi.jpg") left;
          /* no-repeat  center/cover */
}


#entry:selected {
      background-color: @color7;
      /*opacity: 0.9;*/

}

#text:selected {
      color: @color9;
      font-weight: bold;
}


#outer-box {

      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      margin-left: 318px;
      border: none;    
      border-radius: 1px;
      background-color: @color9;
     /* opacity: 0.7;*/
      padding-top: 20px;
       
}


#input{
      background-color: @color9;
     /* opacity: 0.7;*/
      color: @color7;
      margin-bottom: 15px;
      
}



#text{
      padding: 0 4px;
      margin: 5px;

}

#inner-box {
       margin-left: 4px;
}




/*----------------------------------------------------------------------------*/

/* 
 window {
border: 2px solid red;
background-color: red;
border-radius: 18px;
background: url("/home/sloth/.config/wofi/komi.jpg") no-repeat left;
}

#input {
margin: 5px;
border: 2px solid blue;
background-color: blue;
}

#inner-box {
margin: 5px;
border: 2px solid yellow;
background-color: rgba(255, 255, 0);
}

#outer-box {
margin-top: 5px;
margin-bottom: 5px;
margin-right: 5px;
margin-left: 310px;
border: 2px solid green;
border-radius: 8px;
background-color: rgba(0, 128, 0);
padding-top: 20px;
}

#scroll {
margin: 5px;
border: 2px solid orange;
background-color: rgba(255, 166, 0);
}

#text {
margin: 5px;
padding: 0 4px;
border: 2px solid cyan;
background-color: cyan;
}  

#entry:selected {
background-color: rgba(0, 0, 0, 0);
}


#text:selected {
background-color: red;
}
 */


